[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
tqdm = "*"
pandas = "*"
requests = "*"
ipfshttpclient = "*"
cloudscraper = "*"
python-dateutil = "*"
selenium = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.8"
