[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
tqdm = "*"
pandas = "*"
requests = "*"
ipfshttpclient = "*"
cloudscraper = "*"
python-dateutil = "*"
selenium = "*"
luigi = "*"
supabase = "*"
psycopg2 = "*"
httpx = ">=0.23.0" # https://github.com/midnight-madman/Loopie/security/dependabot/5
openai = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
